<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Appointments</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/reviews">Reviews</a>
            <a href="/u/appointments">Appointments</a>
            <a href="/u/profile">Profile</a>
            <a href="/u/create-appointment">Create New Appointment</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>Your Appointments</h2>
            {{ if . }}
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Pet</th>
                        <th>Groomer</th>
                        <th>Service</th>
                        <th>Write Review</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $index, $appointment := . }}
                    <tr>
                        <td>{{ $index }}</td>
                        <td>{{ $appointment.Status }}</td>
                        <td>{{ $appointment.Time }}</td>
                        <td>{{ $appointment.Pet.Name }} ({{ $appointment.Pet.Breed}})</td>
                        <td>{{ $appointment.SalonMaster.Name }} ({{ $appointment.SalonMaster.Address }})</td>
                        <td>{{ $appointment.Service.Type }}</td>
                        <td>
                            <!-- Кнопка для перехода на страницу создания отзыва -->
                            <form action="/u/create-review" method="GET">
                                <input type="hidden" name="aid" value="{{ $appointment.Id }}">
                                <button type="submit" class="btn btn-primary">Review</button>
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ else }}
            <p>No appointments found.</p>
            {{ end }}
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Grooming Salon</p>
    </footer>
</body>

</html>