<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Welcome to Our Grooming Salon</h1>
        <nav>
            <a href="/create-appointment">Create Appointment</a>
            <a href="/appointments">Appointments</a>
            <a href="/profile">Profile</a>
        </nav>
    </header>

    <main class="container">
        <!-- Таблица услуг -->
        <section>
            <h2>Our Services</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Price</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Services }}
                    <tr>
                        <td>{{ .Type }}</td>
                        <td>${{ printf "%.2f" .Price }}</td>
                        <td>{{ .Duration }} hours</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>

        <!-- Таблица грумеров -->
        <section>
            <h2>Our Groomers</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Groomers }}
                    <tr>
                        <td>{{ .Name }}</td>
                        <td>{{ .Address }}</td>
                        <td class="description">{{ if .Description.Valid }} {{ .Description.String }} {{ end }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>

        <!-- Таблица салонов -->
        <section>
            <h2>Our Salons</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Salons }}
                    <tr>
                        <td>{{ .Address }}</td>
                        <td>{{ .Phone }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Grooming Salon</p>
    </footer>
</body>

</html>